{% extends "base.html" %}

{% block content %}

<header>
    <h1>Welcome {{ current_user.username if current_user.is_authenticated else 'Anonymous' }}</h1>
</header>
<div>
    {% if current_user.is_anonymous %}
        <button onclick="location.href='{{ url_for('main.login') }}'">Login</button>
        <button onclick="location.href='{{ url_for('main.signup') }}'">Register</button>
    {% else %}
        <button onclick="location.href='{{ url_for('main.logout') }}'">Logout</button>
    {% endif %}
</div>
<br>
{% if current_user.is_authenticated %}
    <div>
        <button id="counterBtn">Click Me!</button>
        <p>Score: <span id="count">{{ current_user.score }}</span></p>
    </div>
{% endif %}
<div>
    <h2>Leaderboard</h2>
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody id="leaderboard-body">
            <!-- Table rows will be dynamically added here -->
        </tbody>
    </table>
</div>
{% endblock %}