{% extends "base.html" %}

{% block content %}
<header>
    <h1>Login</h1>
</header>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
{% endwith %}

<form method="POST" action="{{ url_for('main.login') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
    <label for="username">Username</label>
    {{ form.username(class="form-control", id="username", placeholder="Enter username") }}
    </div>
    <div class="form-group">
    <label for="password">Password</label>
    {{ form.password(class="form-control", id="password", placeholder="Password") }}
    </div>
    <div class="form-group d-grid mt-2">
        {{ form.submit(class="btn btn-block btn2 btn-dark rounded") }}
    </div>
</form>
{% endblock %}